<form>
  <input type="text" name="search" placeholder="Search Name"/>
  <input type="Submit" value="na" name="stats[region]"/>
  <input type="Submit" value="eu" name="stats[region]"/>
  <input type="Submit" value="kr" name="stats[region]"/>
</form>
