<form>
  <input type="text" name="search" placeholder="Search Name"/>
  <input type="Submit" value="us" name="region"/>
  <input type="Submit" value="eu" name="region"/>
  <input type="Submit" value="kr" name="region"/>
</form>
